.news-bottom {
  padding: 0 3vw;
  height: auto;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  justify-content: center;
  grid-gap: 20px;
  will-change: transform, opacity;
  transform: translateY(200px);
  opacity: 0;
  & > div {
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      border-color: hsla(0, 0%, 91.8%, 0);
      background-color: #fff;
      box-shadow: 0 0 0 1px #e3e3e3;
      -webkit-transform: translate(0px, 3px);
      -ms-transform: translate(0px, 3px);
      transform: translate(0px, 3px);
    }
    & > div:nth-child(1) {
      position: relative;
      & > img {
        border-radius: 20px;
        width: 100%;
      }
      & > div {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        border: solid 2px #fff;
      }
    }
    & > h3 {
      text-align: center;
      margin-top: 50px;
      width: 85%;
    }
    & > div:nth-child(3) {
      margin-top: 30px;
      font-size: 11px;
      color: #666;
      & > span:nth-child(2) {
        color: black;
        font-size: 12px;
      }
    }
  }
}
.news-div-svg {
  background: hsla(18.983050847457626, 91.71%, 62.16%, 1);
}
.news-div-svg-2 {
  background: hsla(169.86486486486484, 69.81%, 41.57%, 1);
}
.news-div-svg-3 {
  background: hsla(317.1428571428571, 35.71%, 38.43%, 1);
}
