.costumers-arrow-right,
.costumers-arrow-left {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease;
  transform-origin: 50% 50%;
  z-index: 15;
  &:hover circle {
    fill: #f77e46;
  }
  &:hover path {
    stroke: #fff;
  }
  &:hover {
    transform: scale(1.05) translateY(-50%);
  }
  svg {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  circle,
  path {
    transition: 0.2s ease;
  }
}
.costumers-arrow-right {
  right: -25px;
}
.costumers-arrow-left {
  left: -25px;
}
