.add-anim-left {
  animation: fadeLeftToCenter 1s forwards 0.25s;
}
.add-anim-right {
  animation: fadeRightToCenter 1s forwards 0.25s;
}

.add-anim-threeBottom-1 {
  transition: transform 1s, opacity 0.7s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.add-anim-threeBottom-2 {
  transition: transform 1s 0.1s, opacity 0.7s 0.1s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.add-anim-threeBottom-3 {
  transition: transform 1s 0.2s, opacity 0.7s 0.2s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.add-anim-threeBottom-4 {
  transition: transform 1s 0.3s, opacity 0.7s 0.3s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.add-anim-threeBottom-5 {
  transition: transform 1s 0.4s, opacity 0.7s 0.4s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.animate-three-footer-left {
  transition: transform 1s, opacity 0.7s 0.25s;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.animate-news-bottom {
  transition: transform 1s, opacity 0.7s 0.25s;
  transform: translateY(0) !important;
  opacity: 1 !important;
}
