.three-before-last {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  h3,
  h4 {
    font-family: Caladea, sans-serif;
  }
}
.before-last-1 {
  text-align: center;
  width: 100%;
  & > p {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  & > h3 {
    font-size: 30px;
    padding-bottom: 25px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 85px;
      background: #f77e46;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.before-last-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
  width: auto;
  width: 100%;
  & > div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 2%;
    width: 170px;
    will-change: transform, opacity;
    & > div:nth-child(1) {
      border-radius: 10px;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    & > h4 {
      margin-bottom: 15px;
      font-size: 18px;
    }
    & > p {
      font-size: 13px;
      color: #666;
    }
  }
  & > div:nth-child(1) {
    transform: translateX(200px);
    opacity: 0;
    & > div:nth-child(1) {
      background: #20b49b;
    }
  }
  & > div:nth-child(2) {
    transform: translateX(200px);
    opacity: 0;
    & > div:nth-child(1) {
      background: #853f71;
    }
  }
  & > div:nth-child(3) {
    transform: translateX(200px);
    opacity: 0;
    & > div:nth-child(1) {
      background: #f77e46;
    }
  }
  & > div:nth-child(4) {
    transform: translateX(200px);
    opacity: 0;
    & > div:nth-child(1) {
      background: #452c48;
    }
  }
  & > div:nth-child(5) {
    transform: translateX(200px);
    opacity: 0;
    & > div:nth-child(1) {
      background: #665ba2;
    }
  }
}

.before-last-3 {
  margin-top: 100px;
  background: rgba(32, 180, 155, 0.08);
  border-color: rgba(32, 180, 155, 0.5);
  border: 1px solid;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #20b49b;
  font-size: 13px;
  font-weight: bold;
}

@media only screen and (max-width: 1015px) {
  .before-last-2 {
    justify-content: flex-start;
    padding: 0 3vw;
    & > div {
      width: 30%;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .before-last-2 {
    & > div {
      width: 48%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .before-last-2 {
    & > div {
      width: 95%;
    }
  }
}
